* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

$main-color: #E5EEFF;
$secondary-color: #8E097C;
$mobile: 800px;

@mixin mobile {
  @media screen and (max-width: $mobile) {
    @content;
  }
}