#contact {
  background-image: url(../Images/emailbackgr.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #555;
  background-position: 250px;
  padding: 20px 250px;
  color: white;
  font-size: 1.2rem;

  #send {
    border: none;
    padding: 2px 92.5px;
    margin-top: 28px;
    border-radius: 2px;
    background-color: #18c9e8;
  }

}

#contact .box-design {
  border-radius: 2px;
  border: none;
}

@include mobile {
  #contact {
    margin: 0 auto;
    background-size: 200px;
    background-position: center;
    padding: 10px;
  }
}