.footer {
  display: flex;
  justify-content: space-evenly;
  height: auto;
  text-align: center;
  background-color: $mainColor;

  img {
    width: 40px;
    margin: 15px;
    transition: all 0.2s ease-in-out;

    &:hover {
      transform: scale(120%);
    }
  }
}

.copyright {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  background-color: black;
  color: white;
}

@include mobile {
  .footer {
    display: block;
  }
}